<h1>Editing Message</h1>

<%= form_for @message, url: message_path(@message), method: :put do |form| %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :message_body %>
  </div>

  <div class="field">
    <%= form.label :sender %>
    <%= form.text_field :sender, id: :message_sender %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :message_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
